 body {
     padding-top: 70px;
     // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }
 
 body {
     >nav {
         .navbar-brand {
             >a {
                 font-weight: 500;
                 color: #563d7c;
                 &:hover {
                     color: #463265;
                     background-color: #f9f9f9;
                 }
             }
         }
     }
 }
 
 .bs-order-nav {
     .navbar-nav {
         > li > a {
             color: #5e5e5e;
             &:hover,
             &:focus {
                 color: #555;
                 background-color: #e7e7e7;
             }
         }
         > .active > a {
             &,
             &:hover,
             &:focus {
                 color: #555;
                 background-color: #e7e7e7;
             }
         }
     }
 }
 
 .back-to-top,
 .bs-docs-theme-toggle {
     display: none;
     padding: 4px 10px;
     margin-top: 10px;
     margin-left: 10px;
     font-size: 12px;
     font-weight: 500;
     color: #999;
 }
 
 @media (min-width: 768px) {
     .back-to-top,
     .bs-docs-theme-toggle {
         display: block
     }
 }
 
 .back-to-top {
     display: none !important;
 }
 
 .bs-table-wrap {
     margin: 5px 0;
     border-color: #ddd;
     border-width: 1px;
     border-radius: 4px 4px 0 0;
     -webkit-box-shadow: none;
     box-shadow: none;
     &>.table {
         background-color: #fff;
     }
 }
 
 .bundles-sacnning {
     .form-control.input-lg {
         font-weight: bolder;
         font-size: 26px;
     }
     .has-feedback{
        .form-control-feedback{
            font-size: 30px;
        }
     }
     .log {
         background: #000;
         color: #fff;
         padding: 10px 5px 10px 10px;
         >.log-title {
             margin-bottom: 8px;
         }
         >.log-text {
             max-height: 250px;
             min-height: 60px;
             overflow: auto;
             position: relative;
             >p {
                 font-size: 14px;
                 margin-bottom: 0;
             }
         }
     }
 }
